body {
    background-color: #132641;
}

#dashboard>div {
    background-color: #132641;
    padding: 0, 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#dashboard2>div {
    background-color: white;
    width: 300px;
    height: 200px;
    color: black;
    text-align: center;
    font-family: "montserrat";
    font-size: 20px;
    font-weight: bold;
    border-radius: 0px 0px 0px 100px;
    position: absolute;
    margin-top: 0px;
    margin-left: 142px;
}

.dashboard3 {
    background-color: #3177B2;
    width: 600px;
    height: 100px;
    color: white;
    text-align: center;
    font-family: "montserrat";
    font-size: 20px;
    font-weight: normal;
    border-radius: 00px 0px 0px 0;
    position: absolute;
    margin-top: 260px;
}

p {
    font-size: 15px;
    text-align: center;
    font-weight: normal;
    color: gray;
}

.foto_header {
    height: 400px;
    width: 400px;
    background-image: url(../feit3.png);
    background-size: cover;
    border-radius: 0px 100px 0px 0px;
    margin: auto;
}

@media screen and (min-width:600px) {
    .foto_header {
        height: 400px;
        width: 300px;
        background-position-x: right;
        background-position-y: top;
    }
}