#dashboard2>div {
    background-color: #E5C20C;
    width: 343px;
    height: 224px;
    color: white;
    font-family: 'montserrat';
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    border-radius: 10px 0px 0px 80px;
    position: absolute;
    top: 533px;
    right: 8px;
    margin-top: 10px;
}

.btn {
    background-color: #D69114;
    width: 173px;
    height: 56px;
    color: white;
    font-family: 'montserrat';
    font-size: 20px;
    font-weight: bold;
    border-radius: 100px 0px 0px 100px;
    position: absolute;
    top: 735px;
    left: 420px;
}

.btn--primary {
    background: #D69114;
    color: white;
}

.btn--primary:hover {
    background: #c98506;
    color: white;
}

.foto_header {
    width: 100%;
    height: 654px;
    background-image: url(../Images.png);
    background-size: cover;
}

@media screen and (min-width:600px) {
    .foto_header {
        background-color: black;
        width: 100%;
        height: 600px;
        background-position-x: center;
        background-position-y: top;
    }
}