body {
    background-color: #17263f;
}

#dashboard>div {
    background-color: #17263f;
    padding: 0, 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

#dashboard2>div {
    background-color: white;
    width: 300px;
    height: 200px;
    color: black;
    font-size: 10px;
    text-align: center;
    font-family: 'montserrat';
    font-weight: bold;
    border-radius: 0px 0px 0px 100px;
    position: absolute;
    margin-top: 0px;
    margin-left: 142px;
}

.dashboard3>div {
    background-color: #4c68dd;
    width: 600px;
    height: 100px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 100px 0px 0px 0;
    position: absolute;
    margin-top: 400px;
    left: 0px;
}

p {
    font-size: 10px;
    text-align: center;
    font-weight: normal;
    color: gray;
}

.foto_header {
    height: 400px;
    width: 300px;
    background-image: url(../basquait.png);
    background-size: cover;
    border-radius: 0px 100px 0px 0px;
    margin: auto;
}

@media screen and (min-width:600px) {
    .foto_header {
        height: 400px;
        width: 300px;
        background-position-x: right;
        background-position-y: top;
    }
}

@media screen and (min-height:501px) {
    .dashboard3 {
        width: 300px;
        background-position-x: right;
        background-position-y: top;
    }
}